@import 'tailwindcss';

@theme {
  --font-Potta-One: 'Potta One', system-ui;
  --font-Noto-Sans-HK: 'Noto Sans HK', sans-serif;
  --aspect-card-ratio: 1 / calc(sqrt(2));
}

html {
  @apply font-Noto-Sans-HK;
}

body {
}

.home-banner {
  @apply w-screen h-screen bg-[url(/images/common/bg.jpg)] bg-cover bg-center bg-fixed;
  .banner-wrapper {
    @apply w-full h-full container mx-auto flex flex-col lg:flex-row items-center justify-center gap-8;

    .banner-card-wrapper {
      .banner-card {
        @apply shadow-md aspect-card-ratio transform-3d perspective-distant flex flex-col items-center justify-center lg:max-w-[32.3vw] lg:max-h-[72vh] mx-auto bg-[url(/images/common/home_card.jpg)] bg-cover bg-center shadow-2xl/50;
      }
    }
    .banner-title-wrapper {
      @apply font-Potta-One text-center text-stone-800;
      .banner-title {
        @apply text-3xl mb-4 pb-4 md:text-6xl lg:text-8xl xl:text-9xl lg:mb-8 md:pb-8 relative after:content-[''] after:w-16 after:border-b-2 after:border-stone-800 after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2;
      }
      .banner-subtitle {
        @apply text-xl md:text-2xl lg:text-4xl;
        p {
          @apply mb-1 lg:mb-3;
        }
      }
    }
  }
}
