name: yiptsz-blessive-brush

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/cms.yml
      - src/**
      - public/**
      - pnpm-lock.yaml
      - wrangler.jsonc
      - package.json

env:
  PROJECT_NAME: 'yiptsz-blessive-brush'
  PROJECT_PATH: .
  CLOUDFLARE_ENV: production

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Workers
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Prepare Dependencies
        run: |
          pnpm -F ${{ env.PROJECT_NAME}}... i --frozen-lockfile

      - name: Build
        run: pnpm build:cloudflare
        env:
          PAYLOAD_SECRET: ${{secrets.PAYLOAD_SECRET}}
          NEXT_TELEMETRY_DISABLED: ${{vars.NEXT_TELEMETRY_DISABLED}}
          # NEXT_PUBLIC_SERVER_URL: ${{vars.NEXT_PUBLIC_SERVER_URL}}
          # PUBLIC_ORIGIN: ${{vars.PUBLIC_ORIGIN}}
          # EMAIL_ACCESS_KEY_ID: ${{secrets.EMAIL_ACCESS_KEY_ID}}
          # EMAIL_SECRET_ACCESS_KEY: ${{secrets.EMAIL_SECRET_ACCESS_KEY}}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          NEXT_PUBLIC_PAYLOAD_API: ${{ vars.NEXT_PUBLIC_PAYLOAD_API }}
          PRIVATE_STRIPE_API_KEY: ${{ secrets.PRIVATE_STRIPE_API_KEY }}

      - name: Deploy
        run: |
          echo "${{ secrets.PAYLOAD_SECRET }}" | pnpx wrangler secret put PAYLOAD_SECRET --config wrangler.jsonc --env=$CLOUDFLARE_ENV
          echo "${{ secrets.PRIVATE_STRIPE_API_KEY }}" | pnpx wrangler secret put PRIVATE_STRIPE_API_KEY --config wrangler.jsonc --env=$CLOUDFLARE_ENV
          pnpm deploy:cloudflare
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ENV: ${{ env.CLOUDFLARE_ENV }}
